@import '../public/iconfont/iconfont.css';
/* 改变主题色变量 */
$--color-primary: #2E5BFF;

$--color-warning: #F7B26B;

$--color-danger: #EF3434;

$--color-success: #0ABD9E;
//-------深色字默认颜色-------
$--color-font-default: #333333;
$--color-grey: #cccccc; 
// -------------标题字体
@font-face{
  font-family: 'title-font';
  src: url('../public/胡晓波男神体.otf');
}
// -----------------普通字体---------------------
@font-face{
  font-family: 'normal-font';
  src: url('../public/MicrosoftYaHei-01.ttf') format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'normal-font';
  src: url('../public/MicrosoftYaHeiUI-02.ttf') format('truetype');
  font-weight: normal;
}

:root{
  color: $--color-font-default;
}

html{
  font-size: 625%;
}
body{
  font-size: .12rem;
}

div,p,span,a,strong,h1,h2,h3,h4,h5,h6,li{
  font-family: 'normal-font';
}

.title-font{
  font-family: 'title-font';
}

.rtl{
  direction: rtl;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
.cursor-pointer{
  cursor: pointer;
}

.full-width{width: 100%;}
.full-height{height: 100%;}
.bg-white{background: #ffffff;}
.text-primary{
  color: $--color-primary;
}
.text-warning{
  color: $--color-warning;
}
.text-primary{
  color: $--color-primary;
}
.text-success{
  color: $--color-success;
}
.text-danger{
  color: $--color-danger;
}
.text-grey{
  color: $--color-grey;
}
.text-light-grey{
  color: #d9d9d9;
}
.text-white{
  color: #ffffff;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.font-12{font-size: .12rem;}
.font-14{font-size: .14rem;}
.font-16{font-size: .16rem;}
.font-18{font-size: .18rem;}
.font-20{font-size: .2rem;}
.font-22{font-size: .22rem;}
.flex-row{display: flex;flex-direction: row;}
.flex-row-reverse{display: flex;flex-direction: row-reverse;}
.flex-col{display: flex;flex-direction: column;}
.flex-col-reverse{display: flex;flex-direction: column-reverse;}
.flex-jst-start{justify-content: flex-start;}
.flex-jst-end{justify-content: flex-end;}
.flex-jst-center{justify-content: center;}
.flex-jst-btw{justify-content: space-between;}
.flex-jst-ard{justify-content: space-around;}
.flex-ali-start{align-items: flex-start;}
.flex-ali-end{align-items: flex-end;}
.flex-ali-center{align-items: center;}
.flex-ali-base{align-items: baseline;}
.self-stretch{align-self: stretch;}
.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}
.pa-col-md{
  padding-top: .2rem;
  padding-bottom: .2rem;
}
// 超出省略
.ellipis{
  text-overflow: ellipsis;
  white-space: nowrap;
}
// antd样式修正
p{
  margin: 0;
}
.pages{
  max-width: 2048px;
  min-width: 1200px;
  margin: 0 auto;
  // width: 100vw;
  // min-height: 100vh;
}

// 公用动画
.cus-fade-in{
  animation: cusFadeIn .3s linear;
}
@keyframes cusFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}