.swiperOut{
  width: 100%;
  position: relative;
  height: calc(100vh - .91rem);
  .swiperItem{
    height: calc(100vh - .91rem);
    color: #fff;
    line-height: calc(100vh - .91rem);
    text-align: center;
    background: #364d79;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &:hover{
    .controlContainer{
      .controlBar{
        .controlArrow{
          left: 0;
          &.controlArrowRight{
            left: 0;
          }
        }
      }
    }
  }
  .controlContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: +1;
    .controlBar{
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      padding: .1rem .4rem;
      .controlArrow{
        width: .8rem;
        height: .8rem;
        background: rgba(255,255,255,.6);
        border-radius: 50%;
        position: relative;
        left: -2.4rem;
        transition: left .3s linear;
        cursor: pointer;
        &.controlArrowRight{
          left: 2.4rem
        }
        .controlIcon{
          font-size: .4rem;
          color: #fff;
          &.transIcon{
            transform: rotate(180deg);
          }
        }
      }
    }
    
    .dotContainer{ // 轮播点
      padding: .05rem 0;
      .cusDot{
        width: .2rem;
        height: .2rem;
        border: .02rem solid #fff;
        border-radius: 50%;
        margin: 0 .05rem;
        background: #fff;
        cursor: pointer;
        &.curDot{
          background: #c33946;
        }
      }
    }
  }
}
.centerOut{
  width: 100%;
  background: url('../public/images/idx-contBg.png');
  background-size: 100% 100%;
}