.swiperOut{
  width: 100%;
  position: relative;
  height: calc(100vh - .91rem);
  .swiperItem{
    height: calc(100vh - .91rem);
    color: #fff;
    line-height: calc(100vh - .91rem);
    text-align: center;
    background: #364d79;
  }
}
